// src/views/layouts/main.pug
doctype html
html
  head
    title My Shop
    link(rel="stylesheet", href="/css/style.css")
  body
    .container 
      .header
        div.header_left
          a(href="/").logo My E-commerce
          .search 
            form(action="/" method="GET")
              div
                input(type="text" name="search" placeholder="Search")

          
        div.header_middle
          .title Products
          .title Category
          div.title.about About us
          div.title.contact Contact
        

        .menu
          .button 
            .btn 
              a(href="/cart") Cart
          if !user
            .button
              .btn
                a(href="/login") Login
              .btn
                a(href="/register") Register
          else
            .button
              .btn
                a(href="/profile") Profile
              .btn.logout
                a(href="/logout").logout Logout
      block content